/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #4CAF50;
    color: #fff;
    text-align: center;
    padding: 20px;
}

/* Estilos para el centro de los botones */
.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; /
}

button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0px 3px 6px rgba(0, 128, 0, 0.2);
    width: 25%; /* A침ade un ancho del 100% para que los botones se ajusten al ancho del contenedor */
}

button:hover {
    background-color: #45a049;
    box-shadow: 0px 4px 8px rgba(0, 128, 0, 0.2);
}

/* Media queries para pantallas m치s peque침as */
@media screen and (max-width: 600px) {
    .center {
        padding: 10px; /* Reduce el espacio alrededor de los botones en pantallas peque침as */
    }
}

